@media print {

  

  @page {
    size: 148mm 210mm;
    marks: crop;
    /* bleed: 6mm 3mm; */
    @bottom-left-corner {
      content: element(folioRunning);
      text-align: left;
    }
    @bottom-left {
      content: element(titleRunning);
      text-align: left;
    }
    @footnote {
      float: bottom;
    }
  }  

  @page:right {
    margin: 18mm 10mm 24mm 14mm;
    bleed: 6mm 6mm 6mm 0cm;      
    /* --pagedjs-bleed-right-left: 0mm; 
    --pagedjs-bleed-right-right: 6mm;
    --pagedjs-bleed-right-top: 3mm; 
    --pagedjs-bleed-right-bottom: 3mm;  */
  }
  @page:left {
    margin: 18mm 14mm 24mm 6mm;
    bleed: 6mm 0cm 6mm 6mm;
    /* --pagedjs-bleed-left-left: 6mm; 
    --pagedjs-bleed-left-right: 0mm;  
    --pagedjs-bleed-left-top: 3mm; 
    --pagedjs-bleed-left-bottom: 3mm;  */
  }
  @page fullp {
    margin: 0;
    @bottom-left-corner {
      display: none;
    }
    @bottom-left {
      display: none;
    }
  }
  @page cover {
    margin: 6mm 6mm 6mm 14mm;    
    @bottom-left-corner {
      display: none;
    }
    @bottom-left {
      display: none;
    }
  }
  @page:blank {
    @bottom-left-corner {
      display: none;
    }
    @bottom-left {
      display: none;
    }
  }
  

  /* ------------------------------------------------------------------------ Variables */
  :root {
    --bigsize: 32px;
    --mediumsize: 18px;
    --baseplussize: 14px;
    --basesize: 10pt;
    --smallsize: 7.5pt;
    --color: rgba(0, 0, 0, 0.85);
    --gradientvertical: linear-gradient(180deg,var(--primary) 0%, var(--white) 100%);
    --spacer: .5cm;
    /* couleur d’accentuation */
    --accentcolor: black;
    /* maximum width for texts */
    --maxwidth: 40em;
    /* columns */
    --columnwidth: calc((186mm - var(--spacer) * 11) / 12);
    --maxwidth:100%;
  }

  .fullpage{
    page: fullp;
    margin: 0; 
  }

  .fullpage figure { 
    height: var(--pagedjs-height);
    width: var(--pagedjs-width);
    margin: calc( -1 * var(--pagedjs-bleed-left-top)) 0 0 calc( -1 * var(--pagedjs-bleed-left-left)) !important ;
    max-width: none;
    overflow: hidden;
    figcaption { display: none;}
    img{ width: 100%; height: 100%; object-fit: cover;}
  }

  /* ------------------------------------------------------------------------ Cover */

  .header-content {
    min-height: fit-content;
    justify-content: flex-start;
  }
  
  #header {
    page: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    min-height: 100%;
  }

  #index { display: none; } 

  .meta {
    display: flex;
  }

  .meta-data { 
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }

  .meta-column {
    flex-direction: column;
  }

  .meta-column p {
    margin: 0;
  }

  .meta-inline{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
  }

  .meta-name{
    font-size: var(--mediumsize);
    font-weight: 600;
    margin-top: 2rem;
  }

  .meta-year { 
    transform: rotate(-90deg);
    block-size: fit-content;
  }

  /* header nav = Lire / imprimer / télécharger */
  #header nav { display: none; } 
  .nav-principale { display: none; } 

  .quicklinks-button{
    display: none;
  }

  /* ------------------------------------------------------------------------ Cover */
   #nav {
    display: flex;
    flex-direction: column;
    align-items: left;
    break-before: always; 
    break-after: always;
    page: sommaire;
    padding: 0;
    position: unset !important;
    height: auto;
    min-height: 0;
    page-break-before: right;
    page-break-after: right;
    counter-reset: page 1;
    transform: unset;
    transition: unset;
    background-color: transparent; 
    width: unset;
    top: unset;
    right: unset;
    z-index: unset;
  }

  #nav::before{
    content: "Sommaire";
    font-size: var(--bigsize);
    font-family: var(--fontTitle);
  }

  #nav h2, #nav ul { grid-column: 1; }

  #quicklinks{
    display: none;
  }

  /* ------------------------------------------------------------------------ Running titles */
  /* running title */
  .runningtitle {
    display: none;
    position: running(titleRunning);
  }
  .runningtitle br { display: none;}
  .folio{
    font-weight: bold;
    text-align: right;
  }
  .folio::before{
    content: counter(page);
    font-weight: bold;
  }
  .pagedjs_margin .runningtitle {
    gap:var(--spacer);
    padding: 0.1cm 0cm;
    display: flex !important;
    justify-content: space-between;
  }
  .pagedjs_left_page .runningtitle {
    flex-direction: row-reverse;
  }
  .pagedjs_right_page .runningtitle {
    flex-direction: row;
  }
  .pagedjs_left_page .runningtitle .title,
  .pagedjs_right_page .runningtitle .name { display: none; }

  
  /* ------------------------------------------------------------------------ Content */
  /* contenu */
  main { 
    display: block;
    padding: 0;
  }
  .default p {
    /* minimume deux lignes présentes sur la page, au début ou à la fin d’un paragraphe */
    orphans: 2;
    widows: 2;
    margin: 0;
    margin-left: 4mm;
    line-height: 1.55;
    /* text-align: justify;  */
    /* text-justify: inter-word; */
    /* hyphens: auto; */
  }
  .default p + p:not([data-split-from]) { padding-top: 1em;}

  #header h1 {
  margin: 0;
  line-height: 1.1;
  max-width: calc(var(--bigsize) * 16);
  font-size: calc(var(--bigsize) * 1);
  color: var(--color);
  font-family: var(--fontTitle);
  font-weight: var(--weightTitle);
  }
  #header h2 {
  margin: 0;
  line-height: 1.2;
  max-width: calc(var(--bigsize) * 16);
  font-size: calc(var(--bigsize) * .75);
  color: var(--color);
  font-family: var(--fontTitle);
  font-weight: var(--weightTitle);
  }
  #header h2::before{
  content: "—";
  display: block;
  font-size: calc(var(--bigsize) * .75);
  }
  #header h2:empty { display: none;}

  main h1 {
    font-size: 3em;
    font-weight: var(--weightTitle);
    font-family: var(--fontTitle);
  }
  main h2 {
    font-size: 2em;
    font-weight: var(--weightTitle);
    font-family: var(--fontTitle);
  }
  main h3 {
    font-size: 1.5em;
    margin-left: 0;
    font-weight: var(--weightTitle);
    text-decoration: none;
    font-family: var(--fontTitle);
  }
  main h4 {
    font-size: 1em;
    margin-left: 0;
    font-weight: var(--weightTitle);
    font-family: var(--fontTitle);
  }

  #nav, section { 
    margin-bottom: 0; 
  }
  figure {
    break-inside: avoid;
  }
  .default figure.full {
    margin-left: calc(-1 * (var(--pagedjs-margin-left) - var(--pagedjs-margin-right)) );
    max-width: none;
  }  
  figcaption {
    font-size: var(--smallsize);
  }
  figure.videofigure::after{
    display: block;
    content: "→ " attr(data-src);
    font-size: var(--smallsize);
  }
  .video[style]{
    background: var(--poster);
    background-size: cover;
  }
  .video[style] iframe {visibility: hidden;}
  /* ------------------------------------------------------------------------ Break */
  .breakpage {
    height: 0;
    page-break-before: always;
  }
  .breakcolumn{
    break-before:column;
    break-after:column;
  }
  .breakprint {
    display: block;
  }
  .breakscreen {
    display: none;
  }
  /* ------------------------------------------------------------------------ Spacing */
  [style^="--ls"] { letter-spacing: calc(var(--ls, 0) * -0.001em); }

  /* ------------------------------------------------------------------------ Side notes */
  .imagenote {
    width: 33%;
    display: block;
    margin: var(--spacer) 0 0 var(--spacer);
    font-size: var(--smallsize);    
  }
  .imagenote.printleft {
    float: left;
    margin: var(--spacer) var(--spacer) 0 0;
  }
  .imagenote.printright {
    float: right;
    margin: var(--spacer) 0 0 var(--spacer);
  }

  /* ------------------------------------------------------------------------ Footnotes */
  .footnote {
    float: footnote;
    counter-increment: footnote;
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
  }
  
  .footnote:has(.breakcolumn) {
    break-inside: auto;
    -webkit-column-break-inside: auto;
  }
  
  .footnotes-sep,
  section.footnotes { display: none;}

  ::footnote-call {
    /* font-weight: bold;  */
    content: "[" counter(footnote) "]";
    font-variant-position:normal;
    vertical-align: baseline;
    font-size: 100%;
    cursor: pointer;

    /* padding-left: 0.25em; */
    /* background-color: var(--secondary); */
  }

  ::footnote-marker {
    content: "[" counter(footnote-marker) "] ";
    /* font-weight: bold; */
  }

  ::footnote-call:hover{
    background-color: var(--secondary);
  }
  
  
  .pagedjs_footnote_inner_content {
    font-size: var(--smallsize);
    margin-top: 1em;
    margin-bottom: 0.8em;
    padding-top: 1em;
    padding-right: 25%;
    border-top: 0.75em solid;
    border-image: var(--gradient)1;
    /* not working : */
    /* column-width: 200px !important; */
    /* column-count: 2 !important; */
    /* column-gap: 20px !important; */
    height: auto !important;
    line-height: 1.4;
    margin-left: 4mm;
  }

  .pagedjs_footnote_inner_content > .footnote ~ .footnote{
    margin-top: 0.5em;
  }


  /* ------------------------------------------------------------------------ Autofolder */
  .autofolder {
    margin-left: -6.5cm;
    page-break-after: always;
  }

  /* ------------------------------------------------------------------------ Annexes */
  .appendices {
    page-break-before: always;
    page: appendices
  }
  section.appendices {
    /* margin-left: -6.5cm; */
  }
  .appendices > h2 {
    /* display: none; */
  }
  .figure.print-quarter { grid-column: span 3; }
  .figure.print-offset0 { grid-column: 1 / span 3; } 
  .figure.print-offset2 { grid-column: 3 / span 3; } 
  .figure.print-offset4 { grid-column: 5 / span 3; } 
  .figure.print-offset6 { grid-column: 7 / span 3; } 
  .figure.print-offset8 { grid-column: 9 / span 3; } 
  .figure.print-third { grid-column: span 4; }
  .figure.print-third.print-offset0 { grid-column: 1 / span 4; } 
  .figure.print-third.print-offset2 { grid-column: 3 / span 4; } 
  .figure.print-third.print-offset4 { grid-column: 5 / span 4; } 
  .figure.print-third.print-offset6 { grid-column: 7 / span 4; } 
  .figure.print-third.print-offset8 { grid-column: 9 / span 4; } 
  .figure.print-half { grid-column: span 6; }
  .figure.print-half.print-offset0 { grid-column: 1 / span 6; } 
  .figure.print-half.print-offset2 { grid-column: 3 / span 6; } 
  .figure.print-half.print-offset4 { grid-column: 5 / span 6; } 
  .figure.print-half.print-offset6 { grid-column: 7 / span 6; } 
  .figure.print-twothird { grid-column: span 8; }
  .figure.print-twothird.print-offset0 { grid-column: 1 / span 8; } 
  .figure.print-twothird.print-offset2 { grid-column: 3 / span 8; } 
  .figure.print-twothird.print-offset4 { grid-column: 5 / span 8; } 
  .figure.print-threequarter { grid-column: span 9; }
  .figure.print-threequarter.print-offset0 { grid-column: 1 / span 9; } 
  .figure.print-threequarter.print-offset2 { grid-column: 3 / span 9; } 
  .figure.print-full { grid-column: 1 / span 12; }
  .figure.print-full.print-offset0 { grid-column: 1 / span 12; }

  .figure.print-top { align-self: start;}
  .figure.print-center { align-self: center;}
  .figure.print-bottom { align-self: end;}
  
  /* ------------------------------------------------------------------------ References */
  .references {
    page-break-before: always;
    page: references
  }
  section.references {
    /* margin-left: -6.5cm; */
  }
  .references > h2 {
    /* display: none; */
  }
  /* ------------------------------------------------------------------------ Interview */
  .interview {
    page-break-before: always;
    page: interview
  }
  .interview > h2 {
    /* display: none; */
  }
  .interview p {
    --indent: 0px;
  }

  /* ------------------------------------------------------------------------ Glossaire */
  .glossary {
    font-size: 1em;
  }
  .glossary,
  .columns {
    font-size: 0.85em;
    columns: 2;
    column-gap: var(--spacer);
  }

  /* ------------------------------------------------------------------------ Table des matières */
  
  #list-toc-generated {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 1cm !important;
    margin-left: -1cm !important;
    gap: 8px;
    border-left: 1cm solid;
    border-image: var(--gradientvertical)1;
  }

  #list-toc-generated .toc-element a::before {
    content: target-counter(attr(href), page);
    /* position: absolute;
    left: 0;
    margin-left: calc(-4em - 20px); */
    text-align: left;
    min-width: 3em;
    width: 3em;
    display: inline-block;
  }

  #list-toc-generated .toc-element-level-1 {
    font-size: var(--baseplussize);
    font-weight: bold;
    margin-top: 16px;
  }

  #list-toc-generated .toc-element-level-2 {
    font-size: var(--basesize);
    margin-left: 20px;
  }

  #list-toc-generated .toc-element-level-1 a::before {
    color: var(--primary);
  }

  #list-toc-generated a {
    display: flex;
    flex-direction: row;
    height: auto;
  }

  #list-toc-generated a em, #list-toc-generated a strong{
    margin: 0em 0.3em;
  }

  #list-toc-generated a::before {
     /* margin-left: calc(-4em - 40px); */
  }


  /* ------------------------------------------------------------------------ footer */
  #footer{
    display: none;
  }

}
